body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;

  }

  .chat-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 50px;

  }

  .chat-header {
    background-color: #0ca291;
    color: #fff;
    padding: 10px;
  }

  .chat-header h2 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
  }

  .chat-body {
    padding: 10px;
  }

  .message {
    margin-bottom: 10px;
  }

  .message .sender {
    font-weight: bold;
  }

  .message .content {
    background-color: #e5e5ea;
    padding: 8px;
    border-radius: 10px;
  }

  .message .time {
    font-size: 12px;
    color: #777;
    margin-top: 5px;
  }

  .incoming-message .content {
    background-color: #dcf8c6;
  }
  #Coment_part {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f4f4f4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #messageInput {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 20px;
    outline: none;
  }
  
  #sendButton {
    margin-left: 10px;
    padding: 8px 15px;
    background-color: #128c7e;
    color: #fff;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
  }
  
  #sendButton:hover {
    background-color: #0e786a;
  }
  